<h1>
  List of all directors
</h1>

<hr>
<table border="1">
  <tbody><tr>
      <th>
        ID
      </th>

      <th>
        Image
      </th>

      <th>
        Name
      </th>

      <th>
        Dob
      </th>

      <th>
      </th>
    </tr>

<% @directors.each do |a_director| %>
    <tr>
      <td>
        <%= a_director.id %>
      </td>

      <td>
        <img src=<%= a_director.image.to_s %> style="width:250px;">
      </td>

      <td>
        <%= a_director.name %>
      </td>

      <td>
        <%= a_director.dob %>
      </td>

      <td>
        <a href= <%= "/directors/" + a_director.id.to_s %> >
          Show details
        </a>
      </td>
    </tr>
  <% end %>
</tbody></table>
