<h1>
  Movie #<%= @movie.id%> details
</h1>

<a href="/movies">
  Go back
</a>

<hr>

<dl>
  <dt>
    Title
  </dt>
  <dd>
    <%= @movie.title %>
  </dd>

  <dt>
    Year
  </dt>
  <dd>
    <%= @movie.year %>
  </dd>

  <dt>
    Duration
  </dt>
  <dd>
    <%= @movie.duration %>
  </dd>

  <dt>
    Description
  </dt>
  <dd>
    <%= @movie.description %>
  </dd>

  <dt>
    Image
  </dt>
  <dd>
    <img src=<%= @movie.image.to_s %> style="width:250px;">
  </dd>

  <dt>
    Director
  </dt>
  <dd>
    <%= @director %>
  </dd>

  <dt>
    Created at
  </dt>
  <dd>
    <%= @movie.created_at %>
  </dd>

  <dt>
    Updated at
  </dt>
  <dd>
    <%= @movie.updated_at %>
  </dd>
</dl>

<hr>

  

</body>
